.btn-light-xs{
    margin-left: 50px;
    margin-top: 50px;
    margin-bottom: -230px;
    background: #F4F4F4;
    border: 1px solid #262833;
}
.btn-light-xs-text{
    width: 35px;
    height: 13px;
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 13px;
    text-align: center;
    flex: none;
    order: 0;
    flex-grow: 0;
}
.button-start-process{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
    position: absolute;
    width: 475px;
    height: 49px;
    left: calc(50% - 475px/2 + 0.5px);
    top: calc(50% - 49px/2 + 250.5px);
    background: #FFB81C;
    border-radius: 6px;  
    color: #222823;
    font-weight: 600
}
.button-start-process:hover{
    background-color: #5C068C;
    color: #FFB81C;
}