.form-content-left{
    padding: 10px;
    // text-align: left !important;
    margin: 0 auto;
}
.form-content-right{
    padding: 10px;
    // text-align: left !important;
    margin: 0 auto;
}
input[type=text]{
    background-color : #FAFAFA; 
    height: 50px;
    width: 251px;
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
}
.form-padding{
    // display: flex;
    // width: 100%;
    padding-top: 180px !important;
    // padding-bottom: 350px;
}
.react-date-picker{
    display: block;
    background-color : #FAFAFA; 
    height: 50px;
    width: 251px;
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
}
.react-date-picker__wrapper{
    height: 50px;
    border: thin solid #ced4da !important;
    border-radius: 0.25rem;
    padding-left: 10px;
    color: #212529 !important;
}
.react-calendar button{
    font-weight: 700;
    font-family: 'Gotham-Medium';
}
.react-calendar__month-view__weekdays {
    font-weight: 700;
    font-family: 'Gotham-Medium';
}

.button-start-process-personalInfo{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
    max-width: 475px;
    width: 100%;
    height: 49px;
    margin: 20px auto auto;
    background: #FFB81C;
    border-radius: 6px;  
    color: #222823;
    font-weight: 600
}

.button-start-process-personalInfo:hover{
    background-color: #5C068C;
    color: #FFB81C;
}