.account-set-pass{
    width: 250px !important;
}
.account-set-form{
    padding-top: 50px;
}
.account-set-button-tray{
    display: flex;
    margin-left: -180px;
    margin-top: 30px;
}
.btn-account-set-save{
    background: #5C2682 !important;
    border-radius: 6px;
    box-shadow: 0px 2px 8px rgb(129 129 129 / 9%);
    border: 1px solid #5C2682;
    margin: 10px;
}
.btn-account-set-cancel{
    margin: 10px;
    background: #FFFFFF !important;
    border-radius: 6px;
    box-shadow: 0px 2px 8px rgb(129 129 129 / 9%);
    border: 1px solid #262833;
}