.new-agent-link-text{
    font-style: normal;
    font-size: 15px;
    line-height: 33px;
    align-items: center;
    text-align: center;
    color: #262833;
  }
  #contained-agent-modal-title-vcenter{
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 25px;
    align-items: center;
    text-align: center;
    // padding-left: 190px;
    letter-spacing: 0.03em;
    color: #230036;
  }
  .new-agent-footer-button-tray{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 0 auto;
}
.new-modal-content{
    height: 450px !important;
}