.content-box-text{
    position: absolute;
    max-width: 550px !important;
    height: 75px;
    left: 0px !important;
    top: 140px;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 155%;
    color: #7C7C7C;
    text-align: left;
  }