.card-footer{
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 20px;
    text-align: center;
    color: #FAFAFA;
    position: absolute;
    width: 100%;
    left: 0px;
    bottom: 0px;
    background: #5C068C;
}