
.content-box-text-account-credentials{
    // max-width: 490px;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 155%;
    color: #7C7C7C;
    text-align: left;
    // margin: 0 10px;
  }